
.form-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
  }
  
  .form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  
  .form-label {
    margin-bottom: 10px; /* Adjust margin bottom */
    font-weight: bold;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1rem;
    margin-left: 75px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .submit-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .task-title {
    font-weight: bold;
  }
  
  .task-description {
    margin-bottom: 5px;
  }
  
  .task-priority {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .task-due-date {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .task-completion {
    font-weight: bold;
  }
  
  .task-buttons {
    margin-top: 5px;
  }
  
  .task-buttons button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-buttons button:hover {
    background-color: #007bff;
    color: #fff;
  }